<div class="row">
    <div class="col 4">
        <img src="{{menu.img}}" alt="{{menu.name}}" class="img-fluid" style="max-height: 150px;" />
    </div>

    <h3 class="col-8">{{menu.name}}</h3>
</div>
<hr>
<div class="row">
    <p class="col-12">
        {{menu.desc}}
    </p>
</div>
<hr>
<div class="row">
    <button class="btn btn-success">
    Editer menu
  </button>
</div>