<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- 
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#">Recettes</a>
      </li>
    </ul>
  </div>
   -->
</nav>